---
page_title: "{{ .ProviderShortName }} Provider"
subcategory: ""
description: |-
  {{ .Description | plainmarkdown }}
---

# {{ .ProviderShortName }} Provider

{{ .Description }}

This provider requires no configuration. For information on the resources it provides, see the navigation bar.
