name: Test

on:
  pull_request:
    paths-ignore:
      - README.md
  push:
    paths-ignore:
      - README.md

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3.5.2

      - uses: actions/setup-go@v4.0.1
        with:
          go-version-file: go.mod
          cache: true

      - run: go mod download

      - run: go build -v .

      - name: Run linters
        uses: golangci/golangci-lint-action@v3.4.0
        with:
          version: latest

  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.5.2

      - uses: actions/setup-go@v4.0.1
        with:
          go-version-file: go.mod
          cache: true

      - run: go generate ./...

      - name: git diff
        run: |
          git diff --compact-summary --exit-code || \
            (echo; echo "Unexpected difference in directories after code generation. Run 'go generate ./...' command and commit."; exit 1)

  test:
    name: Terraform Provider Acceptance Tests
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        terraform:
          - "1.0.*"
          - "1.1.*"
          - "1.2.*"
          - "1.3.*"
          - "1.4.*"
    steps:
      - uses: actions/checkout@v3.5.2

      - uses: actions/setup-go@v4.0.1
        with:
          go-version-file: go.mod
          cache: true

      - uses: hashicorp/setup-terraform@v2.0.3
        with:
          terraform_version: ${{ matrix.terraform }}
          terraform_wrapper: false

      - run: go mod download

      - run: go test -v -cover ./internal/provider/
        env:
          TF_ACC: "1"
        timeout-minutes: 10
